/*Animation_section*/
#paggignation_hdr h1,#paggignation_hdr h4 
{
     animation-name: paggig_hdr;
    animation-duration: 2s;
}
@keyframes paggig_hdr
{
    from{margin-left: 100px;}
    to{margin-left: 0px;}
}

.about_description h1
{
     animation-name: about_description;
    animation-duration: 2s;
}
@keyframes about_description
{
    from{margin-right: 50px;}
    to{margin-right: 0px;}
}

/*Animation_section*/
/*hidden_sec*/
#hidden_sec {
    height: 68px;
    background-color: transparent;
}

/*hidden_sec*/
/*paggignation_hdr*/
#paggignation_hdr {
    background-image: url(../image/b-2.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    margin-top: -20px;
}

#paggignation_hdr h1 {
    font-family: Athiti;
    color: black;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    font-size: 2.5em;
}

#paggignation_hdr h4 {
    font-family: Athiti;
    color: #5F0A82;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 5%;
}

#paggignation_hdr h4 span {
    font-family: Athiti;
    color: #5F0A82;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5%;
}

#paggignation_hdr a {
    text-decoration: none;
    color: black;
}

/*paggignation_hdr*/
/*home_sec*/
/*home_sec*/
/*our_team_sec*/

.sect {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5% 3%;
    background-attachment: fixed;
}

.sectOne {
    background-image: url(../image/symetry.png);

}

.subSection1 {
    height: 100%;
    font-size: 1em;
    color: black;
    font-family: sans-serif;

}


#top_heading {
    text-align: center;
    padding: 30px;
    background-color: transparent;
}

#top_heading h3 {
    font-weight: bold;
}

#top_heading h5 {
    line-height: 25px;
    font-size: 1.2em;
}

.profileCard .well {
    padding: 0px;
    color: white;
    border-radius: 20px;
    background-color: #5F0A82;

    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.profileCard .well:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.profileHead img {
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.profileImage {
    padding: 10px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 4px solid white;
    background-color: #5F0A82;
    margin-top: -60px;
}

.profileImage img {
    border-radius: 50%;
    overflow: hidden;
    height: 95px;
    width: 95px;
}

.profileDetails {
    padding: 10px;
    text-align: center;
}

.profileDetails h2 {
    font-family: Aladin;
    margin: 0px;
    font-size: 1.8em;
    letter-spacing: 2px;
}

.profileDetails h4 {
    font-family: Alegreya Sans SC;
    margin: 0px;
    padding-top: 5px;
    font-size: 1.2em;
}

.profileDetails h5 {
    font-family: Athiti;
    line-height: 15px;
    font-size: 1em;

}

.profileDetails h6 {
    font-family: Athiti;
    line-height: 17px;
    font-size: 1em;
    margin: 0px;

}

.profileSocial ul {

    margin-top: 0;
    padding: 0 20px;

    color: white;
    display: flex;
}

.profileSocial ul li {
    list-style: none;
    position: relative;
    text-align: center;
    background-color: transparent;
    color: #fff;
    transition: .5s;
    font-size: 24px;
    cursor: pointer;
    margin: 0px 20px 0px 20px;
}

.profileSocial ul li a {
    color: white;
}

.profileSocial ul li a:hover {
    color: white;
}

.buttonProfileDownload {
    background-color: white;
    padding: 5px 20px;
    border: none;
    color: #5F0A82;
    font-size: 1em;
    font-weight: bold;
    font-family: Athiti;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.5s;
    margin-bottom: 10px;
}

/*our_team_sec*/
/*about_us_sec*/
.servicePannel {
    padding-top: 16px;
    font-family: Athiti;
}

.servicePannel .well {
    background-color: #5F0A82;
    border: none;
    border-radius: 10px;
    padding: 26px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.servicePannel .well:hover
{
    background-color: white;
    color: #5F0A82;
    transition: 0.8s;
 
}
.servicePannel .well img
{
    margin-top: 20px;
}
.servicePannel .well h3 {
    margin-top: 0px;
}
.servicePannel .well h5 {
    line-height: 20px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}
.servicePannel .well h6 {
    line-height: 25px;
    font-size: 1.2em;
}
.about_description{
    padding-top: 30px;
}
.about_description h1
{
    text-align: center;
    padding: 20px 5px;
    font-weight: bold;
    font-size: 2.2em;
}
.about_description h5
{
    text-align: center;
    padding: 15px;
    line-height: 27px;
    font-size: 1.2em;
}
.sectionService
{
    background-color: #EBEBED;
    padding: 3%;
}
.service_head
{
    text-align: center;
    padding-bottom: 20px;
}
.service_head h1{
   font-weight: bold;}
.service_head h4{
    line-height: 25px;
}
/*about_us_sec*/
/*projects_sec*/
/*projects_sec*/
/*contact_us_sec*/
/*contact_us_sec*/



/*ON SMALL DEVICES*/
@media screen and (max-width: 992px) {
    .sectionContent h1 {
        font-size: 2.5em;
    }

}

/*ON SMALL DEVICES*/